* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
input,
button {
  font-family: "Open Sans", sans-serif;
}

input,
button {
  font-size: 16px;
}

.head_bar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 0 0; 
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
  color: cornflowerblue;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: cornflowerblue;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: cornflowerblue;
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: cornflowerblue;
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
}

.search_section > h2 {
  color: cornflowerblue;
}

.search_section > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.search_section > form > label {
  display: flex;
  align-items: center;
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  background-color: cornflowerblue;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.surah_shelf {
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center; 
}

.surah_shelf > h2 {
  color: cornflowerblue;
  text-align: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0084ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none; 
  width: 100%;
}

.surah_item {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  line-height: 25px;
}

.surah_item > button {
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px 8px;
  margin-left: 5px;
  cursor: pointer;
  background-color: yellowgreen;
}

.surah_item > .translation-wrapper {
  transition: opacity 4s ease;
  background-color: cornflowerblue;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  display: none;
  box-shadow: 1px 1px 5px 1px #464242;
}

.translation-wrapper > p {
  font-size: larger;
  line-height: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  padding: 12px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: large;
}

footer p {
  display: flex;
  align-items: center;
  margin: 0;
}

footer p a {
  color: black;
  display: flex;

  align-items:center;
}

footer p img {
  max-width: 30px;
  max-height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
